name: publish

on: [push]

jobs:
  publish-docker-image:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.CR_PAT }}

      - name: Hello World inside Build
        run: |
          docker build . --tag ghcr.io/yaortri/trifork-ml:latest
          docker push ghcr.io/yaortri/trifork-ml:latest